@import "src/sass/abstract/variable";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background--Main{
  background: url("~@/assets/image/waterfall.jpg");
  background-size: $cover;
  width: $percentBackground;
  min-height: $min-height-vh;
  overflow: hidden;
}
